/* ****************************************************************************************************************** */
/* *** General *** */
/* ****************************************************************************************************************** */

h2 {
    text-align: center !important;
}

.page-header {
    margin: 40px 0 40px;
    padding: 0px;
    border-bottom: none;
}

.otree-btn-next {
    margin: 40px auto;
    display: inherit;
}

.wrapper, .alert {
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto 20px;
}


/* ****************************************************************************************************************** */
/* *** Instructions *** */
/* ****************************************************************************************************************** */

.instructions {
	width: 100%;
	height: 100%;
	background: rgba(255,255,245,0.25);
	margin: 40px auto;
    padding: 20px 20px 10px 20px;

    position:relative;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.05) inset;
       -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.05) inset;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.05) inset;

    -moz-border-radius: 5px;
         border-radius: 5px;
}


/* ****************************************************************************************************************** */
/* *** Decision/Results Table *** */
/* ****************************************************************************************************************** */

.header1 {
    background-color: #f1f1f1;
}

.header2 {
    background-color: #f8f8f8;
}

.table {
    margin-bottom: 0;
}

.table>thead>tr>th,
.table>tbody>tr>td {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
}

.prob {
    color: #999 !important;
}

.info {
    padding: 15px;
}